<a href="https://colab.research.google.com/github/Lynneice/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Lynneice_McNutt_Join_and_Reshape_Data_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 1, Sprint 1, Module 3*

---

# Join and Reshape datasets

Objectives
- concatenate data with pandas
- merge data with pandas
-  understand tidy data formatting
-  melt and pivot data with pandas

Links
- [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
- [Tidy Data](https://en.wikipedia.org/wiki/Tidy_data)
  - Combine Data Sets: Standard Joins
  - Tidy Data
  - Reshaping Data
- Python Data Science Handbook
  - [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
  - [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
  - [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
  - [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
  
Reference
- Pandas Documentation: [Reshaping and Pivot Tables](https://pandas.pydata.org/pandas-docs/stable/reshaping.html)
- Modern Pandas, Part 5: [Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [3]:
!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-09-10 01:41:37--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.24.70
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.24.70|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’

instacart_online_gr 100%[===================>] 196.03M  34.4MB/s    in 6.3s

2020-09-10 01:41:44 (31.0 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz.1’ saved [205548478/205548478]

In [4]:
!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

instacart_2017_05_01/
instacart_2017_05_01/._aisles.csv
instacart_2017_05_01/aisles.csv
instacart_2017_05_01/._departments.csv
instacart_2017_05_01/departments.csv
instacart_2017_05_01/._order_products__prior.csv
instacart_2017_05_01/order_products__prior.csv
instacart_2017_05_01/._order_products__train.csv
instacart_2017_05_01/order_products__train.csv
instacart_2017_05_01/._orders.csv
instacart_2017_05_01/orders.csv
instacart_2017_05_01/._products.csv
instacart_2017_05_01/products.csv

In [5]:
%cd instacart_2017_05_01

/content/instacart_2017_05_01

In [6]:
!ls -lh *.csv

-rw-r--r-- 1 502 staff 2.6K May  2  2017 aisles.csv
-rw-r--r-- 1 502 staff  270 May  2  2017 departments.csv
-rw-r--r-- 1 502 staff 551M May  2  2017 order_products__prior.csv
-rw-r--r-- 1 502 staff  24M May  2  2017 order_products__train.csv
-rw-r--r-- 1 502 staff 104M May  2  2017 orders.csv
-rw-r--r-- 1 502 staff 2.1M May  2  2017 products.csv

# Assignment

## Join Data Practice

These are the top 10 most frequently ordered products. How many times was each ordered? 

1. Banana
2. Bag of Organic Bananas
3. Organic Strawberries
4. Organic Baby Spinach 
5. Organic Hass Avocado
6. Organic Avocado
7. Large Lemon 
8. Strawberries
9. Limes 
10. Organic Whole Milk

First, write down which columns you need and which dataframes have them.

Next, merge these into a single dataframe.

Then, use pandas functions from the previous lesson to get the counts of the top 10 most frequently ordered products.

In [7]:
##### YOUR CODE HERE #####

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
dftrain = pd.read_csv('/content/instacart_2017_05_01/order_products__train.csv')
dftrain.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [4]:
dftest = pd.read_csv('/content/instacart_2017_05_01/order_products__prior.csv')
dftest.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
result = [dftest, dftrain]

df = pd.concat(result)

df.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [6]:
products = pd.read_csv('/content/instacart_2017_05_01/products.csv')
products.head()

   product_id  ... department_id
0           1  ...            19
1           2  ...            13
2           3  ...             7
3           4  ...             1
4           5  ...            13

[5 rows x 4 columns]

In [7]:
orders = pd.read_csv('/content/instacart_2017_05_01/orders.csv')
orders.head()

   order_id  user_id  ... order_hour_of_day  days_since_prior_order
0   2539329        1  ...                 8                     NaN
1   2398795        1  ...                 7                    15.0
2    473747        1  ...                12                    21.0
3   2254736        1  ...                 7                    29.0
4    431534        1  ...                15                    28.0

[5 rows x 7 columns]

In [8]:
newdata = pd.merge(df, products, on=['product_id'])
newdata.head(55)

    order_id  product_id  ...  aisle_id  department_id
0          2       33120  ...        86             16
1         26       33120  ...        86             16
2        120       33120  ...        86             16
3        327       33120  ...        86             16
4        390       33120  ...        86             16
5        537       33120  ...        86             16
6        582       33120  ...        86             16
7        608       33120  ...        86             16
8        623       33120  ...        86             16
9        689       33120  ...        86             16
10       726       33120  ...        86             16
11       771       33120  ...        86             16
12       800       33120  ...        86             16
13       901       33120  ...        86             16
14      1005       33120  ...        86             16
15      1097       33120  ...        86             16
16      1193       33120  ...        86             16
17      1300       33120  ...        86             16
18      1887       33120  ...        86             16
19      2082       33120  ...        86             16
20      2357       33120  ...        86             16
21      2551       33120  ...        86             16
22      2652       33120  ...        86             16
23      2846       33120  ...        86             16
24      2929       33120  ...        86             16
25      3031       33120  ...        86             16
26      3302       33120  ...        86             16
27      3304       33120  ...        86             16
28      3351       33120  ...        86             16
29      3365       33120  ...        86             16
30      3426       33120  ...        86             16
31      3488       33120  ...        86             16
32      4075       33120  ...        86             16
33      4105       33120  ...        86             16
34      4254       33120  ...        86             16
35      4560       33120  ...        86             16
36      4731       33120  ...        86             16
37      5256       33120  ...        86             16
38      5640       33120  ...        86             16
39      5733       33120  ...        86             16
40      5812       33120  ...        86             16
41      5864       33120  ...        86             16
42      6173       33120  ...        86             16
43      6250       33120  ...        86             16
44      6365       33120  ...        86             16
45      6675       33120  ...        86             16
46      6874       33120  ...        86             16
47      6937       33120  ...        86             16
48      7267       33120  ...        86             16
49      7518       33120  ...        86             16
50      7809       33120  ...        86             16
51      7835       33120  ...        86             16
52      7856       33120  ...        86             16
53      8762       33120  ...        86             16
54      8786       33120  ...        86             16

[55 rows x 7 columns]

In [9]:
newdata2 = pd.merge(newdata, orders, on=['order_id'])
newdata2.head(55)

    order_id  product_id  ...  order_hour_of_day  days_since_prior_order
0          2       33120  ...                  9                     8.0
1          2       28985  ...                  9                     8.0
2          2        9327  ...                  9                     8.0
3          2       45918  ...                  9                     8.0
4          2       30035  ...                  9                     8.0
5          2       17794  ...                  9                     8.0
6          2       40141  ...                  9                     8.0
7          2        1819  ...                  9                     8.0
8          2       43668  ...                  9                     8.0
9         26       33120  ...                 16                     7.0
10        26       21903  ...                 16                     7.0
11        26       24852  ...                 16                     7.0
12        26       47766  ...                 16                     7.0
13        26       35951  ...                 16                     7.0
14        26       46206  ...                 16                     7.0
15        26       25890  ...                 16                     7.0
16        26       40545  ...                 16                     7.0
17       120       33120  ...                  8                    10.0
18       120       41273  ...                  8                    10.0
19       120       40545  ...                  8                    10.0
20       120       28204  ...                  8                    10.0
21       120       26604  ...                  8                    10.0
22       120       48205  ...                  8                    10.0
23       120       42834  ...                  8                    10.0
24       120       31323  ...                  8                    10.0
25       120        1503  ...                  8                    10.0
26       120       46703  ...                  8                    10.0
27       120        5068  ...                  8                    10.0
28       120       28156  ...                  8                    10.0
29       120       26689  ...                  8                    10.0
30       120       19061  ...                  8                    10.0
31       120       39037  ...                  8                    10.0
32       120       11022  ...                  8                    10.0
33       327       33120  ...                  9                     8.0
34       327       19660  ...                  9                     8.0
35       327       44683  ...                  9                     8.0
36       327       26410  ...                  9                     8.0
37       327       11974  ...                  9                     8.0
38       327       41621  ...                  9                     8.0
39       327       23459  ...                  9                     8.0
40       327       32373  ...                  9                     8.0
41       390       33120  ...                 12                     9.0
42       390       31717  ...                 12                     9.0
43       390       33198  ...                 12                     9.0
44       390        8575  ...                 12                     9.0
45       390       19660  ...                 12                     9.0
46       390       29662  ...                 12                     9.0
47       390       40706  ...                 12                     9.0
48       390       26940  ...                 12                     9.0
49       390       24964  ...                 12                     9.0
50       390        2825  ...                 12                     9.0
51       390       39108  ...                 12                     9.0
52       390       35503  ...                 12                     9.0
53       390       35628  ...                 12                     9.0
54       390       24830  ...                 12                     9.0

[55 rows x 13 columns]

In [1]:
insta_data = newdata2.drop(labels=['order_hour_of_day', 'aisle_id', 'department_id', 'days_since_prior_order', 'add_to_cart_order'], axis=1)

NameError: ignored

In [ ]:
insta_data.head(15)

In [ ]:
pd.set_option('display.max_rows', 500)
vc =insta_data['product_name'].value_counts()
print(vc[:10])

## Reshape Data Section

- Replicate the lesson code. Remember, if you haven't followed along typing out what we did during lecture, do that now to get more repetition with the syntax.
- Take table 2 (the transpose of table 1) and practice changing it into Tidy format and back again. You should not use the transpose operation anywhere in this code:
 - Table 2 --> Tidy
 - Tidy --> Table 2
- Load seaborn's `flights` dataset by running the cell below. Then create a pivot table showing the number of passengers by month and year. Use year for the index and month for the columns. You've done it right if you get 112 passengers for January 1949 and 432 passengers for December 1960.

In [ ]:
import pandas as pd
import numpy as np

table1 = pd.DataFrame(
    [[np.nan, 2],
     [16,    11], 
     [3,      1]],
    index=['John Smith', 'Jane Doe', 'Mary Johnson'], 
    columns=['treatmenta', 'treatmentb'])

table2 = table1.T

table2

In [ ]:
# table2 -> tidy
table1.columns.tolist()

In [ ]:
table1.index.tolist()

In [ ]:
table1=table1.reset_index()
table1

In [ ]:
tidy1 = table1.melt(id_vars = 'index', value_vars = ['treatmenta', 'treatmentb'],
# rename columns
tidy1 = tidy1.rename(columns={'index': 'patientname', 
                              'variable': 'trt',
                              'value': 'result'})
tidy1

In [ ]:
# shorten `trt` values
tidy1['trt'] = tidy1['trt'].str.replace('treatment', '')
tidy1

In [ ]:
# tidy -> table2
table2 = tidy1.pivot_table(index='patientname', columns='trt', values='result')
table2

In [ ]:
table2 = table2.rename(columns={'a': 'treatmenta',
                                'b': 'treatmentb'})
table2

In [ ]:
flights = sns.load_dataset('flights')
flights.head()

In [ ]:
# Flights Pivot Table
flights_pivot = flights.pivot_table(index='year',
                    columns='month',
                    values ='passengers'
                    )
flights_pivot

In [ ]:
 
flights_wide = flights_pivot.melt(id_vars = 'index')
rename columns
tidy1 = tidy1.rename(columns={'index': 'patientname', 
                              'variable': 'trt',
                              'value': 'result'})

## Join Data Stretch Challenge

The [Instacart blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2) has a visualization of "**Popular products** purchased earliest in the day (green) and latest in the day (red)." 

The post says,

> "We can also see the time of day that users purchase specific products.

> Healthier snacks and staples tend to be purchased earlier in the day, whereas ice cream (especially Half Baked and The Tonight Dough) are far more popular when customers are ordering in the evening.

> **In fact, of the top 25 latest ordered products, the first 24 are ice cream! The last one, of course, is a frozen pizza.**"

Your challenge is to reproduce the list of the top 25 latest ordered popular products.

We'll define "popular products" as products with more than 2,900 orders.

In [ ]:
##### YOUR CODE HERE #####
newdata2.head(50)

In [ ]:
newdata2.

## Reshape Data Stretch Challenge

_Try whatever sounds most interesting to you!_

- Replicate more of Instacart's visualization showing "Hour of Day Ordered" vs "Percent of Orders by Product"
- Replicate parts of the other visualization from [Instacart's blog post](https://tech.instacart.com/3-million-instacart-orders-open-sourced-d40d29ead6f2), showing "Number of Purchases" vs "Percent Reorder Purchases"
- Get the most recent order for each user in Instacart's dataset. This is a useful baseline when [predicting a user's next order](https://www.kaggle.com/c/instacart-market-basket-analysis)
- Replicate parts of the blog post linked at the top of this notebook: [Modern Pandas, Part 5: Tidy Data](https://tomaugspurger.github.io/modern-5-tidy.html)

In [ ]:
##### YOUR CODE HERE #####